*, *:before, *:after {
  box-sizing: border-box;
}

.form-container{
  display: flex;
    justify-content: center;
}

.data-container{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}